<% flash.each do |key, value| %>
    <div class="flash_notice alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"
      aria-label="閉じる"><span aria-hidden="true">×</span></button>
      <%= content_tag(:div, value, class: "#{key}") %>
    </div>
<% end %>
<header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
        <div class="question_container">

<% if !session[:nickname] %>
  <h3>ニックネームを入力してください</h3>
  
  <%= form_with(url: new_test_path, local: true, id: 'nickname-form', 
  method: :get) do |form| %>
  
      <%= form.text_field :nickname %>
      <%= form.submit "送信する",  id: 'nickname-button' %>
  
  <% end %>
<% end %>

<div class="answer_images">
<% if session[:nickname] && !session[:one] %>
    <h3>1.いつも人を引っ張る役に回ることが多い</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path( one: "true"),
    class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(one: "false"),
    class: "testbutton batu" %>
<% end %>
    
<% if session[:one]  && !session[:two] %>
    <h3>2.社会の規則や倫理を重視する</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(two: "true"),
    class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), 
    new_test_path(two: "false"), 
    class: "testbutton batu" %>
<% end %>

<% if session[:two]  && !session[:three] %>
    <h3>3.何かを始めるときは計画を立ててから始める</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), 
    new_test_path(three: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(three: "false"), class: "testbutton batu" %>
<% end %>
    
<% if session[:three]  && !session[:four] %>
    <h3>4.人と話すのが好きだ</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(four: "true"), 
    class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(four: "false"),
    class: "testbutton batu" %>
<% end %>

<% if session[:four]  && !session[:five] %>
    <h3>5.協調性がある方だと思う</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(five: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(five: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:five]  && !session[:six] %>
    <h3>6.自分は負けず嫌いだと思う</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(six: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(six: "false"), 
    class: "testbutton batu" %>
<% end %>

<% if session[:six]  && !session[:seven] %>
    <h3>7.人からどう思われているかはかなり気になる</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(seven: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(seven: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:seven]  && !session[:eight] %>
    <h3>8.融通が利く方だ</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(eight: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(eight: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:eight]  && !session[:nine] %>
    <h3>9.予想外の出来事にも臨機応変に対応できる</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(nine: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(nine: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:nine]  && !session[:ten] %>
    <h3>10.みんなと違う意見でも自分の主張は貫く</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}),
    new_test_path(ten: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}),
    new_test_path(ten: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:ten]  && !session[:eleven] %>
    <h3>11.飽きっぽい性格だと思う</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(eleven: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(eleven: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:eleven]  && !session[:twelve] %>
    <h3>12.相手の長所によく気が付く</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(twelve: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(twelve: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:twelve]  && !session[:thirteen] %>
    <h3>13.他人の話をあまりじっくりと聞くのは苦手だ</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(thirteen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(thirteen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:thirteen]  && !session[:fourteen] %>
    <h3>14.新しいものは進んで試してみるほうだ</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(fourteen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(fourteen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:fourteen]  && !session[:fifteen] %>
    <h3>15.人は人だと割り切っている</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(fifteen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(fifteen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:fifteen]  && !session[:sixteen] %>
    <h3>16.責任感が強く人にもそれを要求する</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path( sixteen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path( sixteen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:sixteen]  && !session[:seventeen] %>
    <h3>17.言いたいことは遠慮なく言う</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(seventeen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(seventeen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:seventeen]  && !session[:eighteen] %>
    <h3>18.人から気に入られたいと思う</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(eighteen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(eighteen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:eighteen]  && !session[:nineteen] %>
    <h3>19.忍耐強いほうだと思う</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), new_test_path(nineteen: "true"),class: "testbutton maru" %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), new_test_path(nineteen: "false"), class: "testbutton batu" %>
<% end %>

<% if session[:nineteen]  && !session[:twenty] %>
    <h3>20.義理や人情を重視する</h3>
    <%= link_to image_tag('/assets/maru.png', { :border => '0', :alt => '○'}), tests_path(twenty: "true"),class: "testbutton maru", method: :post %>
    <%= link_to image_tag('/assets/batu.png', { :border => '0', :alt => '×'}), tests_path(twenty: "false"), class: "testbutton batu", method: :post %>
<% end %>

          
          </div>
          
        </div>
      <!--</div>-->
      </div>
    </header>



